<app-header></app-header>
<section class="container-fluid bg-dashboard">
  <div class="row">
    <div class="container ">
      <div class="row">
        <div class="landing-whole-section">
          <div class="col-sm-12 col-md-12 col-lg-7  landing-left-blk">
            <h1>
              The Swiss Army Knife <br />
              for Cryptocurrency Holders.
            </h1>
            <p>
              With TokenOx, you can do anything you wish<br />
              with your crypto holdings.
            </p>

            <div class="col-sm-12  mt-5 mb-5 p-0 ">
              <a href="" class="dark-button"> GET STARTED </a>
              <a href="" class="ml-0 ml-sm-4 white-button"> FIND OUT MORE </a>
            </div>
            <div class="app-logo-section">
              <div class="google-app-icon">
                <img src="assets/images/google-play.png" alt="" title="" />
                <span>Coming Soon</span>
              </div>
              <div class="ios-app-icon">
                <img src="assets/images/ios-app.png" alt="" title="" />
                <span>Coming Soon</span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-12  col-lg-5  landing-right-blk">
            <div class="landing-img">
              <img src="assets/images/landing-img.png" alt="" title="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
