@import "../../../../variables.css";
@import "../../../../mixins.css";

.right-div{
   display: table;
   width: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
   span{
       display: table-cell;
       img{
           height: 13px;
       }
   }
   .left-img{
    img{
        height: 8px;
        margin-right: 5px;
    }
   }
}