@import "../../../variables.css";
@import "../../../mixins.css";

.register-whole-section {
  background: $dashboard-bg-color;
  height: 100vh;
  @include full-width;
  display: flex;
  align-items: center;
  justify-content: center;
  @include device-sm {
    display: block;
    height: 100%;
    padding-top: 100px;
    margin-top: 50px;
    margin-bottom: 180px;
  }
  @include device-xs {  margin-bottom: 30px;}
  .register-left-blk {
    padding-top: 30px;
    @include device-md { @include full-width; padding-bottom: 50px;}
    @include device-xs {padding-left: 20px;padding-right: 20px;}
    h1 {
      font-family: "Baskerville";
      font-size: 50px;
      line-height: 64px;
      color: $button-bg-color;
      @include device-xl {font-size: 42px;line-height: 54px;}
      @include device-md {font-size: 30px;line-height: 35px;}
    }
    p {
      font-family: "Baskerville";
      font-size: 18px;
      line-height: 24px;
      color: $button-bg-color;
      margin-bottom: 20px;
      margin-top: 20px;
      @include device-md {font-size: 16px;line-height: 20px;}
    }
    .app-logo-section {
      @include full-width;
      margin-top: 15px;
      .google-app-icon {
        width: 140px;
        float: left;
        margin-right: 15px;
        img {
          width: 140px;
          height: 40px;
        }
        span {
          display: block;
          text-align: center;
          margin-top: 10px;
          font-size: 12px;
          font-family: "Raleway-Medium";
          color: $pargraph;
        }
      }
      .ios-app-icon {
        @extend .google-app-icon;
      }
    }
  }
  .register-right-blk {
    @include device-md { @include full-width; }
    .register-form {
    }
    .forgot-pass {
      width: 320px;
      float: left;
      text-align: center;
      font-size: 12px;
      font-family: "Raleway-Bold";
      color: $button-bg-color;
      @include device-sm { width: 100%;}
    }
    .register_now {
      width: 320px;
      float: left;
      text-align: center;
      font-size: 12px;
      font-family: "Raleway-Medium";
      color: $button-bg-color;
      a {
        font-family: "Raleway-Bold";
        color: $button-bg-color;
      }
      @include device-sm { width: 100%;}
    }
  }
}
