@import "../../../variables.css";
@import "../../../mixins.css";

.header-blk {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 0 0 0 50px;
  z-index: 3;
  @include device-lg {
    padding: 0 0 0 25px;
  }
  .logo-img {
    margin-left: 20px;
    margin-right: 50px;
    padding: 20px 0;
    @include device-lg {
      //for responsive
      margin-right: 0px;
    }
    img {
      width: 120px;
    }
  }
  ul.navbar-nav {
    width: calc(100% - 100px);
    float: left;
    margin-left: 100px;
    @include device-xl {
      width: calc(100% - 75px);
      margin-left: 75px;
    }
    @include device-lg {
      width: calc(100% - 50px);
      margin-left: 50px;
    }
    @include device-md {
      display: none;
    }
    li {
      width: 17%;

      a {
        font-family: "Raleway-SemiBold";
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: $menu-color;
        padding-bottom: 30px;
        padding-top: 30px;
        border-left: 1px solid $bg-color;
        border-bottom: 4px solid transparent;
        @include box-sizing;
        @include transition(all 0.3s linear);
        @include device-lg {
          font-size: 13px;
        } //for responsive
        &:hover {
          background: $menu-color;
          color: #ffffff;
          border-bottom: 4px solid $active-border-clr;
          @include box-sizing;
          @include transition(all 0.3s linear);
        }
        span {
          display: block;
          font-family: "Baskerville-italic";
          font-size: 16px;
          line-height: 26px;
          @include device-xl {
            font-size: 14px;
          }
          @include device-lg {
            font-size: 12px;
          }
        }
        &.menu_active {
          background: $menu-color;
          color: #ffffff;
          border-bottom: 4px solid $active-border-clr;
          @include box-sizing;
          @include transition(all 0.3s linear);
        }
      }
    }
  }
}

.mobile_menu {
  right: 0;
  position: fixed;
  width: 220px;
  height: 100vh;
  background: #ffffff;
  z-index: 4;
  @include transition(all 0.3s linear);
  @include box-shadow(2px, 0px, 10px, rgba(0, 0, 0, 0.35));
  display: none;
  @include device-md {
    display: block;
  }
  .sidemenu {
    display: block;
    left: -50px;
    position: fixed;
    height: 40px;
    color: #fff;
    margin: auto;
    top: 40px;
    span {
      overflow: hidden;
      background-image: url("/assets/images/menu.svg");
      background-size: 100% 100%;
      width: 25px;
      height: 25px;
      float: left;
      cursor: pointer;
    }
  }
  ul {
    @include full-width;
    text-align: center;
    li {
      display: block;
      float: left;
      a {
        padding: 30px 10px;
        font-family: "Raleway-SemiBold";
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: $menu-color;
        border-bottom: 4px solid transparent;
        @include box-sizing;
        @include transition(all 0.3s linear);
        @include device-xss {
          padding: 15px 10px;
          font-size: 13px;
          line-height: 30px;
        }
        &:hover {
          background: $menu-color;
          color: #ffffff;
          border-bottom: 4px solid $active-border-clr;
          @include box-sizing;
          @include transition(all 0.3s linear);
        }
        span {
          display: block;
          font-family: "Baskerville-italic";
          font-size: 14px;
          line-height: 26px;
          @include device-xss {
            font-size: 12px;
            line-height: 12px;
          }
        }
        &.menu_active {
          background: $menu-color;
          color: #ffffff;
          border-bottom: 4px solid $active-border-clr;
          @include box-sizing;
          @include transition(all 0.3s linear);
        }
      }
    }
  }
}
.view_menu {
  @include transform(translate3d(220px, 0, 0));
  @include transition(transform 1s ease-in-out);
}
.close_menu {
  @include transform(translate3d(0px, 0, 0));
  @include transition(transform 1s ease-in-out);
  .sidemenu {
    span {
      width: 18px;
      height: 18px;
      background-image: url("/assets/images/close.svg");
    }
  }
}
.close_menu1.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.44);
  @include transition( background 1s ease-in-out);
}
.view_menu1.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: transparent;
  @include transition( background 1s ease-in-out);
}
