<ul class="nav bg-gradient dashboard-head text-light p-2">
  <li class="col nav-item mobile-logo mr-3">
    <a href=""><img src="assets/images/dashboard/bull-mark.jpg"></a>
  </li>
  <li class="col nav-item currency-li text-light">
    <span class="mr-3">Module in view</span>       <select  class=" text-light form-control d-inline-block w-auto"   name="country"   required>
    <option value="null">All</option>
    <option value="null">All</option>
    <option value="null">All</option>
  </select><span class="ml-2 mr-3">Organizataion Unit</span>       <select class=" text-light form-control d-inline-block w-auto"  name="country"   required>
      <option value="null">All</option>
      <option value="null">All</option>
      <option value="null">All</option>
  </select>
  </li>
  <li>
      <span class="ml-3 text-left"> <i class="fa fa-search"></i> </span> 
  </li>
  <li class="col nav-item but-li text-right  dropdown">
      <a  class="dropdown-toggle" data-toggle="dropdown">
          <img  src="assets/images/dashboard/account.svg"> <span class="ml-1">Hi,Sushma</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
  </li>
</ul>
<div class="bg-light-submenu">
    <div class="container">
        <ul class="nav sub-menu">
            <li class="col nav-item">
             <a class="nav-link" href=""><i class="mr-1 fa fa-dashboard"></i><img src="" />Dashboard</a>
            </li>
            <li class="col nav-item">
                <a class="nav-link" href=""><img src="" />Entity Management</a>
            </li>
            <li class="col nav-item">
                <a class="nav-link" href=""><img src="" />Access Management</a>
            </li>
            <li class="col nav-item">
                <a class="nav-link" href=""><img src="" />Workflows</a>
            </li>
            <li class="col nav-item">
                <a class="nav-link" href=""><img src="" />Technical Setting</a>
            </li>
            <li class="col nav-item">
                <a class="nav-link" href=""><img src="" />Reporting</a>
            </li>
        </ul>
      </div>
</div>
