<app-header></app-header>
<section class="container-fluid bg-dashboard">
  <div class="row">
    <div class="container ">
      <div class="row">
        <div class="register-whole-section">
          <div class="col-sm-12 col-md-6 col-lg-7 col-xl-8 register-left-blk">
            <h1>
              TokenOx is now <br />
              available in the UAE.
            </h1>
            <p>
              Stay updated with all the latest news from the<br />
              TokenOx team by subscribing to our weekly newsletter.
            </p>
            <div class="col-sm-12 mt-5 mb-5 p-0">
              <a href="javascript:void(0)" class="dark-button" (click)="signInWithGoogle()">
                <i class="fa fa-google"></i> LOGIN WITH GOOGLE
              </a>
            </div>
            <div class="app-logo-section">
              <div class="google-app-icon">
                <img src="assets/images/google-play.png" alt="" title="" />
                <span>Coming Soon</span>
              </div>
              <div class="ios-app-icon">
                <img src="assets/images/ios-app.png" alt="" title="" />
                <span>Coming Soon</span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6  col-lg-5 col-xl-4 register-right-blk">
            <form class="keepook-form" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
              <div class="form-group input-field">
                <input type="email" class="form-control" id="email" placeholder="" formControlName="email" name="email"
                  required />
                <label for="email">E-mail</label>
                <span *ngIf="!loginForm.controls['email'].valid && (loginForm.controls['email'].touched && loginForm.controls['email'].dirty)"
                  class="col-sm-12 form-input-error pt-1">Email Required</span>
              </div>
              <div class="form-group input-field">
                <input type="password" class="form-control" id="password" placeholder="" formControlName="password"
                  name="password" required />
                <label for="password">Password</label>
                <span *ngIf="!loginForm.controls['password'].valid && (loginForm.controls['password'].touched && loginForm.controls['password'].dirty)"
                  class="col-sm-12 form-input-error pt-1">Password Required</span>
              </div>
              <div class="form-group checkbox-blk mt-4 mb-4 ">
                <label class="form_checkbox">
                  I am not a robot
                  <input type="checkbox" id="robotCheck" name="robotCheck" formControlName='robotCheck' value="1"
                    required />
                  <span class="checkmark"></span>
                  <span *ngIf="!loginForm.controls['robotCheck'].valid && (loginForm.controls['robotCheck'].touched && loginForm.controls['robotCheck'].dirty)"
                    class="col-sm-12 form-input-error pt-1">RobotCheck Required</span>
                </label>
              </div>
              <button type="submit" class="btn mt-3 light-button" [disabled]="loginForm.invalid">
                LOGIN
              </button>
              <a routerLink="/forgot-password" class="forgot-pass mt-4 mb-4">Forgot Password</a>
              <span class="register_now">Don’t have an account? <a routerLink="/register">Register now.</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

<swal #errorSwal title="ERROR" text="{{errMsg}}" type="error" [focusCancel]="true"></swal>
<swal #successSwal title="SUCCESS!" text="{{successMsg}}" type="success" [focusCancel]="true"></swal>
