<section class="container-fluid text-center footer-blk bg-dashboard" style="margin-bottom:0">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 footer-left-sec">
          <!-- <div class="row"> -->
            <!-- <div class="col-2 col-sm-1"> -->
                <img src="assets/images/footer-img.svg" />
            <!-- </div> -->
            <!-- <div class="col-10 col-sm-11"> -->
                <p>
                    <span>Copyright © 2018 TOKENOX AG. </span> provides information and
                    software only. TOKENOX AG. is not a “lawyer referral service” and
                    does not provide legal advice or participate in any legal
                    representation. TOKENOX AG. is not a law ﬁrm or a substitute for an
                    attorney or law ﬁrm. Use of TOKENOX AG. is subject to our
                    <span>Terms of Service</span> and <span>Privacy Policy.</span>
                  </p>
            <!-- </div> -->
          <!-- </div> -->


        </div>
        <div class="col-sm-12  col-md-12 col-lg-6  footer-right-sec">
          <ul class="footer-menu">
            <li><a href=""> Process</a></li>
            <li><a href=""> Pricing</a></li>
            <li><a href=""> Partners</a></li>
            <li><a href=""> Team</a></li>
            <li><a href=""> Legal</a></li>
            <li><a href=""> Contact</a></li>
            <li><a href=""> FAQs</a></li>
          </ul>
          <ul class="footer-social-icons">
            <li><a href=""><img src="assets/images/instegram.svg" alt="instegram" title="instegram" /></a></li>
            <li><a href=""><img src="assets/images/facebook.svg" alt="facebook" title="facebook"  /></a></li>
            <li><a href=""><img src="assets/images/twitter.svg" alt="twitter" title="twitter"  /></a></li>
            <li><a href=""><img src="assets/images/linkedin.svg" alt="linkedin" title="linkedin"  /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
