<ul class="nav flex-column right-menu  h-100" [class]="authService.globalSidebarRight?'right-open nav flex-column right-menu  h-100':'right-close nav flex-column right-menu  h-100'">
  <span class="border-click" draggable="true" (click)="authService.collapseBar('right')"></span>
  <li class="nav-item p-2 bg-white">
    <a class="text-left d-inline-block" href=""><img src="/assets/images/dashboard/user-round.svg"> John Doe</a>
    <a href="" class="d-inline pull-right text-right"><img src="/assets/images/dashboard/user.svg"></a>
  </li>
  <li class="nav-item ">
    <div class="right-content text-light p-2">
      <h5>Your Trust Capabilities.</h5>
      <p>Your Trust currently allows you
        to perform the following activities.
        Activities will be unlocked once
        you complete the necessary
        documentation processes.</p>
      <ul class="status-list ">
        <li class="active text-light">
          Make or receive a payment.
        </li>
        <li>
          Make or receive a payment
          above $100,000.
        </li>
        <li>
          Make or receive a payment.
        </li>
        <li>
          Make or receive a payment.
        </li>
        <li>
          Make or receive a payment
          above $100,000.
        </li>
        <li>
          Make or receive a payment.
        </li>
        <li>
          Make or receive a payment.
        </li>
        <li>
          Make or receive a payment
          above $100,000.
        </li>
        <li>
          Make or receive a payment.
        </li>
        <li>
          Make or receive a payment.
        </li>
        <li>
          Make or receive a payment
          above $100,000.
        </li>
        <li>
          Make or receive a payment.
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item  need-assist">
    <a href="" class="p-2 d-block text-center text-light"> <img src="/assets/images/dashboard/chat.svg" alt="" srcset=""
        class="mr-1" />
      <span>
        Need Assistance?
      </span> </a>
  </li>
</ul>
